body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Open Sans";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eee;
}

h1 {
  font-size: 2rem;
  font-family: "Caveat";
}

a {
  text-decoration: none;
  color: #33a2ff;
}

.container {
  margin: auto;
  max-width: 1000px;
}

.feed-container {
  margin: auto;
  max-width: 1300px;
}

.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33a2ff;
}

.nav-menu li {
  display: inline;
}

.nav-menu li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-menu li a:hover {
  background-color: #56b2ff;
}

.btn, .btn-light {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
}

.btn:hover, .btn-light:hover {
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
}

.btn-light {
  background: #33a2ff;
  color: #fff;
}

.btn-light:hover {
  background: #56b2ff;
}

.grid, .grid-showcase, .grid-3 {
  display: -ms-grid;
  display: grid;
}

.grid-showcase {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.7rem;
}

.grid-showcase div:nth-child(2) {
  border: 1px solid #dedede;
  background-color: #fff;
}

.grid-showcase img {
  float: right;
  display: block;
  width: 80%;
  -webkit-box-shadow: #000 -2px 2px 2px;
          box-shadow: #000 -2px 2px 2px;
}

.grid-3 {
  padding-top: 1rem;
  -ms-grid-columns: 200px auto 200px;
      grid-template-columns: 200px auto 200px;
  grid-gap: 3rem;
}

.grid-3 div:nth-child(2) {
  background-color: #fff;
}

.grid-3 i {
  padding: 0.9rem;
}

form {
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

form label {
  font-weight: bold;
}

form input {
  display: block;
  font-size: 1em;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
