{{!-- {{#unless success_msg = ''}}
<div>
    {{ success_msg }}
</div>
{{/unless}}

{{#unless error_msg = ''}}
<div>
    {{ error_msg }}
</div>
{{/unless}}

{{#unless error = ''}}
<div>
    {{ error }}
</div>
{{/unless}} --}}