<form action="/users/login" method="post">
    <h1>Log in to an existing account</h1>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" placeholder="Enter Email...">

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" placeholder="Enter Password...">

    <button type="submit" class="btn-light">Log in</button>
    <p>Don't have an account? <a href="/users/register">Register</a></p>
</form>