<section class="profile">
    <div class="item">
        <p>Full Name: <span>{{ user.name }}</span></p>
    </div>
    <div class="item">
        <p>Email: <span>{{ user.email }}</span></p>
    </div>
    <div class="item">
        <p>Created Account At: <span>{{ user.date }}</span></p>
    </div>
</section>