<section class="container">
    <div class="grid-showcase">
        <div class="item">
            <img src="img/showcase-img.jpg" alt="">
        </div>
        <div class="item">
            <h1>Twatter</h1>
            <p class="sub-title">Sign up to see photos and videos from your friends</p>

            <a href="/users/register" class="btn-light">Register an account</a>
            <span>Already have an account?<a href="/users/login"> Log in</a></span>
        </div>
    </div>
</section>